.input-field {
    font-size: x-large;
    margin-top: 50px;
}
button {
    background-color: #f7441b;
    color: #ffffff;
    font-size: xx-large;
    margin-left: 500px;
    margin-top: 110px;

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    font-size: xx-large;
    font-style: normal;
  }
  body {
      background-color: #E5E5E5;
  }
  .grid-container input {
      margin-right: 300px;
  }
  