
  label {
      font-size: xx-large;
  }
  
  

  h1{
      align-items: center;
      text-decoration: underline;
      padding-left: 40%;
  }

  .flex-child{
      background-color: turquoise;
      font-size: medium;
      font-family: Georgia, 'Times New Roman', Times, serif;
      align-items: center;
      display: flex;
      margin-left: 70px;
      margin-right: 70px;
      margin-top: 35px ;
  }

button {
    font-size: xx-large;
    margin-left: 350px;
}
.btn {
    cursor: pointer;
}
  